<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Play vs AI</title>
    <link rel="stylesheet" type="text/css" href="static/chessboard.css" />
    <link rel="stylesheet" type="text/css" href="static/style.css" />
    <script type="text/javascript" src="static/jquery.min.js"></script>
    <script type="text/javascript" src="static/chessboard.js"></script>
    <script type="text/javascript" src="static/script.js"></script>
    <link rel="shortcut icon" href="#">
</head>
<body>
    <ul id="nav-bar">
        <li><a class="active" href="./">Home</a></li>
        <li><a href="./ai">Play vs AI</a></li>
        <li><a href="./player">Play vs Player</a></li>
        <li><a href="./bots">Bots</a></li>
        <li><a href="./leaderboard">Leaderboard</a></li>
        <li style="float:right"><a href="./contact">Contact</a></li>
        <li style="float:right"><a href="./about">About</a></li>
        <li style="float:right"><a href="./updates">Updates</a></li>
        <li style="float:right"><a href="./register">Sign Up</a></li>
        <li style="float:right"><a href="./login">Login</a></li>
    </ul>
    <div id="main">
      <div id="game">
          <!-- Board Div -->
          <div id="board" style="width: 700px"></div>
          <div id="history"></div>
          <div id="menu">
            <!-- Reset Button -->
            <input id="reset" type="button" value="Reset Game" onclick="createBoard()"/>
            <!-- Select Colour -->
            <select name="colour" id="colour" onchange="createBoard()">
              <option value="white">White</option>
              <option value="black">Black</option>
            </select>
            <input id="start" type="button" value="Start Game" />
            <!-- Select Depth for White Pieces -->
            <div id="white">
              <p>White Depth:</p>
              <select name="wDepth" id="wDepth" onchange="createBoard()">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
              </select>
            </div>
            <!-- Select Depth for Black Pieces -->
            <div id="black">
              <p>Black Depth:</p>
              <select name="bDepth" id="bDepth" onchange="createBoard()">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
              </select>
            </div>
            <div id="ai">
              <select name="ai" id="aiChoice" onchange="createBoard()">
                <option value="negamax">Default AI</option>
                <option value="neural">Trained AI</option>
              </select>
            </div>
            <input id="nextMove" type="button" value="Next Move" />
          </div>
        </div>
    </div>
</body>
</html>