<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="static/style.css" />
    <link rel="shortcut icon" href="#">
</head>
<body>
    <ul id="nav-bar">
        <li><a class="active" href="./">Home</a></li>
        <li><a href="./ai">Play vs AI</a></li>
        <li><a href="./player">Play vs Player</a></li>
        <li><a href="./bots">Bots</a></li>
        <li><a href="./leaderboard">Leaderboard</a></li>
        <li style="float:right"><a href="./contact">Contact</a></li>
        <li style="float:right"><a href="./about">About</a></li>
        <li style="float:right"><a href="./updates">Updates</a></li>
        <li style="float:right"><a href="./register">Sign Up</a></li>
        <li style="float:right"><a href="./login">Login</a></li>
    </ul>
    <div class="form-div">
        <form class="form">
            <input type="text" placeholder="Username" class="form-input" required/>
            <input type="email" placeholder="Email" class="form-input" required/>
            <input type="password" placeholder="Password" class="form-input" required/>
            <input class="btn" type="submit" name="submit" value="Register" />
        </form>
    </div>
</body>
</html>